<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdau.housesManage.dao.HomeMapper">
  <resultMap id="BaseResultMap" type="com.sdau.housesManage.entity.Home">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="storeynum" jdbcType="VARCHAR" property="storeynum" />
    <result column="unitnum" jdbcType="VARCHAR" property="unitnum" />
    <result column="housenum" jdbcType="VARCHAR" property="housenum" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_home
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sdau.housesManage.entity.Home">
    insert into t_home (id, storeynum, unitnum, 
      housenum, type, area, 
      address, remark)
    values (#{id,jdbcType=INTEGER}, #{storeynum,jdbcType=VARCHAR}, #{unitnum,jdbcType=VARCHAR}, 
      #{housenum,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sdau.housesManage.entity.Home">
    update t_home
    set storeynum = #{storeynum,jdbcType=VARCHAR},
      unitnum = #{unitnum,jdbcType=VARCHAR},
      housenum = #{housenum,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, storeynum, unitnum, housenum, type, area, address, remark
    from t_home
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, storeynum, unitnum, housenum, type, area, address, remark
    from t_home
  </select>

  <insert id="insertHomeUserLink" parameterType="java.util.Map">
    insert into t_user_home (homeid, userid)
    values (#{homeId}, #{userId})
  </insert>

  <delete id="deleteHomeUserLink" parameterType="java.lang.Integer">
    delete from t_user_home
    where homeid = #{homeId,jdbcType=INTEGER}
  </delete>
</mapper>