<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdau.housesManage.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="com.sdau.housesManage.entity.Info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_einfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdau.housesManage.entity.Info">
    insert into t_einfo (id, date, status, 
      type, userid, remark, 
      note)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sdau.housesManage.entity.Info">
    update t_einfo
    set date = #{date,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, date, status, type, userid, remark, note
    from t_einfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, date, status, type, userid, remark, note
    from t_einfo
  </select>
</mapper>